In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("house_prices.csv")

In [3]:
print("Column names in dataset:", df.columns)

Column names in dataset: Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='object')

In [4]:
price_col = "Price (in rupees)"
sqft_col = "Carpet Area"

In [5]:
df[sqft_col] = df[sqft_col].astype(str).str.extract(r'(\d+)')
df[sqft_col] = pd.to_numeric(df[sqft_col], errors='coerce')

In [6]:
df[price_col] = pd.to_numeric(df[price_col], errors='coerce')

In [7]:
df = df.dropna(subset=[sqft_col])
df["price_per_sqft"] = df[price_col] / df[sqft_col]
print(df.head())

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr

   Price (in rupees) location  Carpet Area         Status         Floor  \
0             6000.0    thane        500.0  Ready to Move  10 out of 11
1            13799.0    thane        473.0  Ready to Move   3 out of 22
2            17500.0    thane        779.0  Ready to Move  10 out of 29
3                NaN    thane        530.0  Ready to Move    1 out of 3
4            18824.0    thane        635.0  Ready to Move  20 out of 42

  Transaction  ...             overlooking  \
0      Resale  ...                     NaN
1      Resale  ...             Garden/Park
2      Resale  ...             Garden/Park
3      Resale  ...                     NaN
4      Resale  ...  Garden/Park, Main Road

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                          Dosti Vihar        2     NaN      1 Open
2                 Sunrise by Kalpataru        2     NaN   1 Covered
3                                  NaN        1       1         NaN
4          TenX Habitat Raymond Realty        2     NaN   1 Covered

              Ownership Super Area Dimensions Plot Area  price_per_sqft
0                   NaN        NaN        NaN       NaN       12.000000
1              Freehold        NaN        NaN       NaN       29.173362
2              Freehold        NaN        NaN       NaN       22.464698
3                   NaN        NaN        NaN       NaN             NaN
4  Co-operative Society        NaN        NaN       NaN       29.644094

[5 rows x 22 columns]